@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=REM:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "REM", sans-serif;
}

.bg-dark {
  background-color: #2d323c;
  color: #dcdfe4;
}

.bg-medium {
  background-color: #383838;
  color: #fff;

}
.bg-medium-light {
  background-color: #b8b8b8;
  color: #000;
}

.flex-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-container {
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.sidebar-tab {
  width: 300px;
  height: 100vh;
  position: fixed;
  left: 70px;
  top: 0px;
  z-index: 10;
  padding: 20px 10px;
  overflow: auto;
}

.sidebar-tab::-webkit-scrollbar {
  background-color: #2d323c;
}

.sidebar-tab::-webkit-scrollbar-thumb {
  background-color: #4e5157;
}

.sidebar-tab::-webkit-scrollbar-thumb:hover {
  background-color: #5f6165;
}

.sidebar-tab--input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #1b1f23;
  outline: none;
  background-color: #2f363d;
  color: #fff;
  margin-bottom: 20px;
}

.icon-button {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}

.icon-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 200ms ease-in-out;
}

.icon-button:active {
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 100ms ease-in-out;
}

.tab-selected {
  border-left: 5px solid rgba(255, 255, 255, 0.3);
}

.package-hit-container {
  display: grid;
  gap: 10px;
}

.package-hit {
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.package-hit > * {
  margin: 0;
}

.package-hit:hover {
  background-color: #4e5157;
  transition: background-color 200ms ease-in-out;
}

.item-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 5px;
  margin-bottom: 10px;
  transition: background-color 200ms ease-in-out;
}

.item-settings:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 200ms ease-in-out;
}

.item-setting--label {
  opacity: 0.6;
}