@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=REM:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "REM", sans-serif;
}

.bg-dark {
  background-color: #2D323C;
  color: #dcdfe4;
}

.bg-medium {
  background-color: #383838;
  color: #FFF;
}

.flex-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-container {
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.sidebar-tab {
  width: 300px;
  height: 100vh; 
  position: fixed;
  left: 70px;
  top: 0px;
  z-index: 10;
  padding: 20px 10px;
  overflow: auto;
}

.sidebar-tab::-webkit-scrollbar {
  background-color: #2D323C;
}

.sidebar-tab::-webkit-scrollbar-thumb {
  background-color: #4E5157;
}

.sidebar-tab::-webkit-scrollbar-thumb:hover {
  background-color: #5F6165;
}

.sidebar-tab--input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #1B1F23 ;
  outline: none;
  background-color: #2F363D;
  color: #FFF;
}