@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=REM:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "REM", sans-serif;
}

.bg-dark {
  background-color: #282c34;
  color: #dcdfe4;
}

.bg-medium {
  background-color: #383838;
  color: #dcdfe4;
}

.flex-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-container {
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

